/*game page css*/
#gamePage{
	background-image: url(../Images/pong.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Press Start 2P', cursive;
}
#scoreBoard{
	display: inline-block;
}
#clearBoard{
	margin-left: 90px;
}
.nav{
	margin-top:30px;
	margin-left: 150px;
}
li{	background-color: #08051A;
	padding: 5px;
	font-size: 25px;
	margin-left:40px;
	margin-top: 10px;
	display:inline-block;
	color: yellow;
	list-style: none;
}

.gameButton{
	font-size: 25px;
	font-family: 'Press Start 2P', cursive;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
}
#gameBoard{
	display: block;
	background: -webkit-linear-gradient(left, #0E091F, #2E071A);
	margin-top: 12px;
	margin-left: 100px;
}
#instruction{
	
}

/*landing page css*/

@keyframes fly {
	0% {position:absolute;
		top: 20px;
		left:50px;}
	25% {position:absolute;
		top: 500px;
		left:500px;}
	50% {position:absolute;
		top: 30px;
		left:800px;}
	100% {position:absolute;
		top:600px;
		left:1300px;}
}
body{
	font-family: 'Press Start 2P', cursive;
}
.pong{
	width:30%;
}
#ball{
	z-index: -1;
	animation-name: fly;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function:ease-out;
	animation-fill-mode: forwards;
}
#landing{
	background-image: url("../Images/arcade.jpg");
	background-size: cover;

}
h1{	z-index: -2;
	text-align: center;
	display: block;
	margin: 0 center;
	letter-spacing: 20px;
	font-size: 150px;
	background: -webkit-linear-gradient( #64B6F3, #65F0FB);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

