#gamePage{
	background-image: url(../Images/pong.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Press Start 2P', cursive;
}
#scoreBoard{
	display: inline-block;
}
#clearBoard{
	margin-left: 90px;
}
.nav{
	margin-top:30px;
	margin-left: 150px;
}
li{	background-color: #08051A;
	padding: 5px;
	font-size: 25px;
	margin-left:40px;
	margin-top: 10px;
	display:inline-block;
	color: yellow;
	list-style: none;
}

.gameButton{
	font-size: 25px;
	font-family: 'Press Start 2P', cursive;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
}
#gameBoard{
	display: block;
	background: -webkit-linear-gradient(left, #0E091F, #2E071A);
	margin-top: 12px;
	margin-left: 100px;
}